<%- include('./partials/header.ejs') %> 
    <main class="container mx-auto px-20 pt-8">
        <h1 class="text-3xl text-blue-700 text-center">This is <%= title %> </h1>
    </main>
<%- include('./partials/footer.ejs') %> 